.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.divisao, .item-principal, .divisao2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:center;
}


.resumo, .divisaoresumo, .divisao {
    gap: 20px;
}


.divisao {
    justify-content: flex-start; 
}


.conhecimento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    column-gap: 100px;
    row-gap: 1em;
}


.main, .resumo, .meuscontatos, .habilidades, .divisaoresumo, .bloco-conhecimento, .conhecimentogeral  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.contatobox, .contatos, .itens-secundarios, .divisao-itens {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.itens-secundarios {
    flex-wrap: wrap;
    column-gap: 70px;
}


.item-principal{
    padding: 20px;
    gap: 20px;
}


.contato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.contatobox, .contato, .contatos, .divisao-itens, .item-contato {
    gap: 20px;
}

@media screen and (max-width: 500px) {
    .divisao-itens {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 650px) {
    .conhecimento {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 10px;
    }

    .contato {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1250px) {
    .conhecimento {
        gap: 40px;
    }

    .divisao-itens {
        gap: 70px;
    }

    .contatos{
        gap: 100px;
    }
}


.projetos, .projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
