:root {
    --cor0: #ffffff;
    --cor1: #29303f;
    --cor2: #1e1e1e;
    --cor3: rgb(0, 229, 255);
    --cor4: #b400fb;
}

:root{
    --cor-azul: #00e5ff;
    --cor-rosa: #b400fb;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(41, 48, 63);
    color: #ffffff;
    font-size: 20px;
    padding: 20px 50px;
    
}

header {
    background-color: rgb(30, 30, 30);
    box-shadow: -5px -5px 10px 1px rgba(41, 48, 63, 0.9) inset, 5px 5px 10px 1px rgba(0, 229, 255, 0.6) inset;
    border-radius: 10px;
    padding: 20px;
}


@keyframes animate {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}


header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}


.divisaoresumo {
    margin: 0 auto;
}


.resumo{
    background-color: #1e1e1e;
    border-radius: 10px;
    max-width: 100%;
    padding: 40px;
    margin-top: 20px;

    position: relative;
    overflow: hidden;
}

.resumo::before{
    content: '';
    position:absolute;
    width: 2000px;
    height: 2000px;
    left: -100px;
    top: -600px;
    background: linear-gradient(var(--cor-azul), var(--cor-rosa));
    animation: animate 2s linear infinite; 
}

.resumo::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: rgb(30, 30, 30);
    border-radius: 9px;
}


.divisao, .divisao2, .divisaoresumo {
    z-index: 10;
}


h1{
    font-size: 36px;
    padding: 40px;
    text-shadow: 10px 10px 10px rgba(0, 229, 255, 0.5), 1px 1px rgba(0, 229, 255, 0.5);
}


.resumo-texto{
    max-width: 800px;
    margin-right: 40px;
}


.foto{
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 229, 255, 0.5);
}


.bloco-conhecimento {

    padding: 20px;
    background: rgb(41, 48 ,53);
/*     margin: 10px;
    padding: 20px;
    background-color: rgb(41, 48, 63);
    border-radius: 10px;
    height: max-content;

    box-shadow: 5px 5px 10px 1px rgba(0, 229, 255, 0.5) inset, -5px -5px 10px 5px rgba(30, 30, 30, 0.5)  */inset;
}

h2{

}


h2, h3, h4, h5 {
    font-size: 24px;
    padding: 20px;
}


.texto-conhecimento {
    height: 100px;
    max-width: 500px;
    padding: 20px;
}


.habilidades {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}


.item-principal {
    border-top: 1px solid #00e5ff;
    margin-top: 20px;
    padding: 10px;
}


.titulo {
    padding: 20px;
    font-size: 28px;
}


.resumo-titulo {
    max-width: 700px;
}


.logo{
    width: 80px;
}

.conhecimentogeral {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}


.logo2 {
    width: 50px;
    height: 50px;
}


.contatobox {
    margin-top: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;

    position: relative;
    overflow: hidden;
}


.contatobox::before{
    content: '';
    position:absolute;
    width: 2000px;
    height: 2000px;
    left: -100px;
    top: -700px;
    background: linear-gradient(var(--cor-azul), var(--cor-rosa));
    animation: animate 2s linear infinite; 
}


.contatobox::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #1e1e1e;
    border-radius: 9px;
    z-index: 11;
}


.contato {
    z-index: 12;
}


.meuscontatos {}
h5 {
    z-index: 10;
}
.descricao-contato {}
.item-contato {}

.minilogo {
    width: 20px;
}


.contatobox a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;    
}

